- id: show_the_way
  alias: Show the way
  trigger:
    platform: state
    entity_id: light.office
    to: 'off'
  condition:
  - condition: time
    after: '17:00:00'
    before: '23:59:00'
  action:
  - service: light.turn_on
    entity_id: light.vestibule
  - delay:
      minutes: 1
  - service: light.turn_off
    entity_id: light.vestibule
- id: turn_off_subwoofer_if_harmony_off
  alias: Turn off subwoofer
  trigger:
    platform: state
    entity_id: remote.harmony_hub
    to: 'off'
  action:
  - service: switch.turn_off
    entity_id: switch.Subwoofer
- id: turn_on_subwoofer_if_harmony_on
  alias: Turn on subwoofer
  trigger:
    platform: state
    entity_id: remote.harmony_hub
    to: 'on'
  action:
  - service: switch.turn_on
    entity_id: switch.subwoofer
- action:
  - data:
      message: Front Door
    service: notify.pushbullet
  alias: Front_Door_Notify
  condition: []
  id: '1511892047216'
  trigger:
  - entity_id: binary_sensor.multi_3_sensor
    from: 'off'
    platform: state
    to: 'on'
- action:
  - data:
      entity_id: light.hue_color_lamp_1
    service: light.turn_on
  - data:
      entity_id: light.hue_lightstrip_plus_1
    service: light.toggle
  - delay: 00:00:04
  - data:
      entity_id: light.hue_lightstrip_plus_1
    service: light.toggle
  - delay: 00:05:00
  - data:
      entity_id: light.hue_color_lamp_1
    service: light.turn_off
  alias: Stair Motion Light
  condition: []
  id: '1512490773153'
  trigger:
  - entity_id: binary_sensor.multi_1_sensor
    from: 'off'
    platform: state
    to: 'on'
