homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret lat
  longitude: !secret long
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 4
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/New_York

  whitelist_external_dirs:
    - '/config/captures'


  customize: !include rename.yaml

recorder: !include recorder.yaml

camera:
  - platform: skybell

  
ecobee:
  api_key: !secret ecobee_api
  hold_temp: false

skybell:
  username: !secret skybell_user
  password: !secret skybell_pass

binary_sensor:
  - platform: skybell
    monitored_conditions:
      - button
      - motion

device_tracker:
  - platform: nmap_tracker
    hosts: 192.168.0.100-199
    home_interval: 10
    exclude: !secret hass_ip
#  - platform: bluetooth_tracker

notify:
  - platform: pushbullet
    name: pushbullet
    api_key: !secret pushbullet_API

media_player:
  - platform: soundtouch
    host: !secret bose_right_ip
    port: 8090
    name: bose_right
  - platform: soundtouch
    host: !secret bose_left_ip
    port: 8090
    name: bose_left

#logger:
#  default: debug

# Enables the frontend
frontend:

# Enables configuration UI
config:

http:
  # Uncomment this to add a password (recommended!)
  api_password: !secret hasspass
  # Uncomment this if you are using SSL or running in Docker etc
  base_url: !secret hass_url

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

# Track the sun
sun:

# Text to speech
tts:
  platform: google

switch:
  - platform: wake_on_lan
    mac_address: !secret serverMac
  - platform: tplink
    name: "christmas tree"
    host: !secret christmas_tree_IP
  - platform: tplink
    name: "blink_1"
    host: !secret blink_1_IP
  - platform: tplink
    name: "blink_2"
    host: !secret blink_2_IP

zwave:
  usb_path: /dev/ttyACM0
  new_entity_ids: true
  network_key: !secret zwave_key

light:
  platform: hue
  host: !secret hue_ip
  allow_in_emulated_hue: false
  allow_unreachable: true
  allow_hue_groups: true

remote:
  - platform: harmony
    name: "Harmony Hub"
    host: !secret harmony_ip

sensor:
  - platform: template
    sensors:
      harmony_hub:
        value_template: '{{ states.remote.harmony_hub.attributes.current_activity }}'
        friendly_name: 'Current Activity'
#     Weather Prediction
  - platform: yr


emulated_hue: !include emulated_hue.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

scene:
  - name: Movie_Lights
    entities:
      light.ge_14294_dimmer_4_level:
        state: on
        brightness: 100
      light.ge_14294_dimmer_2_level:
        state: off
      light.ge_14294_dimmer_1_level:
        state: off
      light.ge_14294_dimmer_5_level:
        state: off
      light.ge_14294_dimmer_3_level:
        state: off
      switch.subwoofer:
        state: on

  - name: Shut_down
    entities:
      light.office:
        state: off
      group.desk:
        state: off

  - name: Startup
    entities:
      light.office:
         state: on
         color_temp: 300
         brightness: 255
      group.desk:
        state: on
      switch.wake_on_lan:
        state: on
