homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret lat
  longitude: !secret long
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 4
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/New_York

  customize: !include customize.yaml

camera:
  - platform: mjpeg
    mjpeg_url: !secret camurl
    uesrname: !secret camuser
    password: !secret campass

device_tracker:
  - platform: nmap_tracker
    hosts: 192.168.0.2-124
    home_interval: 10
    exclude: 192.168.0.119

media_player:
  - platform: soundtouch
    host: 192.168.0.114
    port: 8090
    name: Soundtouch_1
  - platform: soundtouch
    host: 192.168.0.117
    port: 8090
    name: Soundtouch_2

# Show links to resources in log and frontend
#introduction:

#logger:
#  default: error

# Enables the frontend
frontend:

# Enables configuration UI
config:

http:
  # Uncomment this to add a password (recommended!)
  api_password: !secret hasspass
  # Uncomment this if you are using SSL or running in Docker etc
  # base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

# Track the sun
sun:

# Text to speech
tts:
  platform: google

switch:
  - platform: wake_on_lan
    mac_address: !secret serverMac

zwave:
  usb_path: /dev/ttyACM0
  new_entity_ids: true

remote:
  - platform: harmony
    name: "Harmony Hub"
    host: !secret harmonyip

sensor:
  - platform: template
    sensors:
      harmony_hub:
        value_template: '{{ states.remote.harmony_hub.attributes.current_activity }}'
        friendly_name: 'Current Activity'
#     Weather Prediction
  - platform: yr


emulated_hue: !include emulated_hue.yaml
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

scene:
  - name: Movie_Lights
    entities:
      light.ge_14294_dimmer_4_level:
        state: on
        brightness: 60
      light.ge_14294_dimmer_2_level:
        state: off
      light.ge_14294_dimmer_1_level:
        state: off
      light.ge_14294_dimmer_5_level:
        state: off
      light.ge_14294_dimmer_3_level:
        state: off
      switch.subwoofer:
        state: on
  - name: Shut_down
    entities:
      group.office:
        state: off
      switch.monitor:
        state: off
      group.bose:
        state: off
  - name: Startup
    entities:
      light.color_office_front_left:
        state: on
        color_temp: 300
        brightness: 255
      light.office_front_right:
        state: on
        color_temp: 300
        brightness: 255
      light.office_rear_right:
        state: on
        color_temp: 300
        brightness: 255
      light.office_rear_left:
        state: on
        color_temp: 300
        brightness: 255
      switch.monitor:
        state: on
      group.bose:
        state: on
      switch.wake_on_lan:
        state: on
  
